.ActionsContainer {
  display: flex;
  align-items: center;
}

.SyncButton {
  position: relative;
  top: -12px;
  color: var(--color-primary);
}

.SyncButton>input {
  display: none;
}

.SyncButton>span {
  cursor: pointer;
  font-size: 12px;
}